<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pealeht</title>

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>

    <style>
      * {
        margin: 0;
        text-decoration: none;
      }

      span, a, input {
        font-family: Inter;
      }

      header {
        background: rgba(68, 48, 251, 1);
        color: white;
      }

      /* navbar buttons */
      .navbar a {
        color: rgba(68, 48, 251, 1);
        background: white;
        font-size: 20px;

        padding: 15px;
      }


      /* Only affects 'a' tags with the class 'left' that are children of elements with the 'navbar' class.*/
      .navbar a.left {
        margin-right: 20px;
      }

      .navbar a.center {
        margin-left: 20px;
        margin-right: 20px;
      }

      .navbar a.right {
        margin-left: 20px;
      }

      .flexbox-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .logo {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .company_name {
        font-weight: Bold;
        font-size: 40px;
        color: white;
      }

      .company_img {
        width: 50px;
        height: auto;
        margin-left: 20px;
      }

      .index-search {
        background: rgba(68, 119, 251, 1);
        width: auto;
        height: 400px;
      }


      .search-bar {
        width: 250px;
        height: 75px;
        
        padding: 0;
        border: 0;

        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .search-bar:active {
        border: red;
      }

      .search-button {
        width: 75px;
        height: 75px;

        border-radius: 0;
        border: 0;

        padding: 0;
      }

      .locations-container {
        background: white;
        width: auto;
        height: 500px;
      }

      .locations-content {
        background: rgba(68, 119, 251, 1);
        align-items: center;
      }

      .locations-content div {
        margin: 20px;
      }

      .locations-content div img {
        width: 265px;
        height: 216px;
      }

      .locations-content div span {
        padding: 5px;
        
        margin-left: auto;
        margin-right: auto;

        background: white;
        color: black;

        display: block; 
        text-align: center;

        margin-top: 15px;
      }

      


    </style>
</head>
<body>

    <!-- Main header -->
    <header class="flexbox-container">

      <!-- Logo (text+image) -->
      <a href="/">
        <div class="logo flexbox-container">

          <div class="name">
            <span class="company_name">Teenuse nimi</span>
          </div>
          <div class="img">
            <img class="company_img" draggable="false" src="../images/logo.jpg" alt="logo">
          </div>
          
        </div>
      </a>

      <!-- Navbar area -->
      <div class="navbar">

        <% aList.forEach(eachA => {%>
          <%- eachA %>
        <% }) %>

      </div>

    </header>

    <!-- Searchbar area-->
    <div class="index-search flexbox-container">

      <div class="flexbox-container">
        <input class="search-bar" placeholder="Otsing">
        <button class="search-button"><img src="./images/search-icon-black.png" alt="searchBarIcon" draggable="false"></button>
      </div>

    </div>

    <div class="locations-container flexbox-container">
      <div class="locations-content flexbox-container">

      <a>
        <div>
          <img src="./images/tallinn_hotell.png">
          <span>Tallinn</span>
        </div>
      </a>

      <a href="tartu_hotellid">
        <div>
          <img src="./images/tartu_hotell.jpg">
          <span>Tartu</span>
        </div>
      </a>

      <a>
        <div>
          <img src="./images/parnu_hotell.png">
          <span>Pärnu</span>
        </div>
      </a>

      </div>
    </div>
    
</body>
</html>